Last login: Sat Oct 13 18:26:41 on ttys000
Amandas-MacBook-Pro:~ amandaeveritt$ vi tmp.html
Amandas-MacBook-Pro:~ amandaeveritt$ pwd
/Users/amandaeveritt
Amandas-MacBook-Pro:~ amandaeveritt$ mv tmp.html Desktop/
Amandas-MacBook-Pro:~ amandaeveritt$ cd Desktop/
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi tmp2.html
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi tmp.html 
Amandas-MacBook-Pro:Desktop amandaeveritt$ head dna_helix_mograph\ \(1\).c4d 
QC4DC4D6B?????B????????JFIFHH??hICC_PROFILEXlcms0mntrRGB XYZ ?
                                                              acspAPPL???-lcms
                                                                              des@cprtHNwtpt?chad?,rXYZ?bXYZ?gXYZrTRC gTRC bTRC chrm4$mluc
                                                          enUS$sRGB IEC61966-2.1mluc
    enUS2No copyright, use freelyXYZ ???-sf32
                                             J????*??????????????XYZ o?8??XYZ $?Y??XYZ b????paraff?
[chrm??T{L???&f\??C??C?C?"??

???}!1AQa"q2??#B??R??$3br?	
%&'()*456789:CDEFGHIJSTUVWXYZcdefghijstuvwxyz???????????????????????????????????????????????????????????????????????????

???w!1AQaq"2B????	#3R?br?
$4?%?&'()*56789:CDEFGHIJSTUVWXYZcdefghijstuvwxyz??????????????????????????????????????????????????????????????????????????
                                          ????4??Z???E??????d\چ?s???77???v1iQO20??????'Hc?I-? ???6?4t?|????/~2jZ]??X???Υmv??4?mդ6j"?P?l:ȕ??5bW?c{??,l|??~C?9???s???
???-?]??WV??Y`?.?q??ʚ?N?̺????5??ܶ?ewj?????4W?g????-+[???~*?<]?ɢ?ד?:??YI?r??D	#?kx?tr?Kop?ۖ?H??\<A?????
6???`{??????u??}?(m??????o?3?????\w⡢?&???9?>??L??p????L???h?	?qӟOǟ?u>?n?????C6?????{Q?~s?????P?@n??=}}{?<f???????O犆??p????:?x?w_?????u?h??֍???~<?]O
                                                                  ???<}h???#?ǷS?P?@n???{}(????_?;?P?@n?=??????F???~???P?@n?8??????x?p??o?{z?4Pۇ????s???O__^???h?{???	???n??????G?CEM?????~}?Ѹq?g?????P?@n???c۩??p?8????}*(m??~?q돥???~Y>?j(m?6?????\???p?8???.x?h?	?
                         ~~?????3F?????1P?@n?????<??F?????P?@n??~???????u??}?(}Þ@?G>?TPџ???? }??
??E???~?}???3??D?O???_?Y?{??????g?>??@?????c螣?*=???=h??S???@}??C??????Լ?O?J\???????2???蝿?c?????9??)?g??$?'s?#????;??f{?????g??x??{??????e????3????~Y??{R??)?g??6?????=??U?????s???Q?q???o?@????????G????i???3????s???z??}3?+?,?z?7p????~??i?
                                                                               ???>????Q????????S?ϟ???c?????c????????8?>?g????h???O?>???v??Tz~??~??K?
                                                                     ????h??Q???????K??y?w??(?#߿?_????_?e??????????????)?g????z??????????Լ?G??h????????S???@}??C???????O??_?}?1?????????????ўߏ??Z????S????I?N??F=???w??O?G??L???-???w??????x??o~޴???>???~Z?)?g??6?????=??????????G?????~?g?z?????r=???~Z?)?g????g??"???>??G?2??~???/|??G???3?ׯԽ???;~??.{z?LP??2??|??D??C??_??????? }??????w??{W?f{??????y?w??(???O?G?&?????ǩ?????????G??????Ԭ?=?????Z3?C???O?e??????OQ???????)?g??>?????O?????W?^r3???j\???????2??~???&??c?????1G?2??~?O????=??{~?f?S3????O?F~?g????oZ????S???@}9???O??????G?2???h??Qi??ۿ?_?y?\??s???FyǨ????~Z??)?g??>?????=??t????c???H???ϧ|W?X9?????4n??????(???O??_?}?????????
                                 ?????:??ǧ????ǩ?_?????1F{???????e?????>?۟?H???;?~????S????I?O?(????{u?~???q?{{c???{???????k?
                                           ?????'?z????????>?????x?
?K?$}֌?g?3?q???i?
                 ?????'??=???߷?G?2??~???&??c?????1_????^?_?=??????g?
                                                                    ?????????O?ߧ??O????L???=???=?3?_?????????i7t??z~9?@????????G???n?????????G????]~?g?z????ќ??????O?e??????L???$Z???Ӿ(??S????E?????????????~??o????o_?????S?ϟ????ǧ?}?????? }??????w??{W?f{z???JL?N?Oolw???O?e???ěDϧ?$z???qK?
                                             ?????'?Z????_?Y?{??????g?>??@????????G???Ӹ???S???@}??C??=?w?+?/9???c?.zs׿??h???O??_?}?1????????O????'?{??	??=?N3_?????:L?????ڀ?-???3??D??c??=3??>??)?g??>?????=????^???O?=??8??????O?e??????V??_?a???s?Ɗ????????????Pn9??ZM?u???x????@3????(Ͽ_?Ҡ?l?????8?FNz?????:?=?Q?~?}1U??^????K???L~](|??^?_?=??????2}y?>?n?Ϯ??h|????Z3???ϭA?ߩ?????ތ??????O???(???T<?9?i3?ӏ???@3????O??zzcۥ??翯??y?	?????OҌ???ኯ???z????s?>?>??:??????Q?ߎ*
                                                             ??珯??t????(?}?J3?=\??A???L~](???????????????????_w^}s?s???K?ߩ?????ހ'?|?9?>?g?
?=??GO?_?FO??????F{???????㏧???????秦=?P?gߧ????A?????ZM?u???x????@3????(Ͽ??"??l???O??^?g??????(|???FOҠ?^}s???=?3??Ooo?>{???=??????2}y?>????????,g?????ў??s?}j
                                      ???֊?'??==1?Ҍ?_??????????F{?????W??^>????K???????qր'Ͽ??"?????Pn9?????>?????(?}?J3?=\??A???L~](????????g??????|?????_??K?ߩ?????ހ'Ͽ_????֌???Pg??????(?^}s???=?|????֫???????z\?????ǷJ????F}????T>???????^?N??=?
????#?1F}???{g׏????Z7?????z?=??zQ?~?ҫ玼w?????[???@?z???*
                                                        ?^_ϭ&x?????נ
                                                                    ??????g߯??_?Pn??3?s???=??GO?_?@?Pg?C?<?_q????O?Q??v????Pn??n?????????lP????^~???s?????}?????????????8???????O??????K?????????>???????????{b?'?y??????Q???o?ኃq?$????\Ѹ?㓟?@7???s?Ѹ??Oҫ???<??lQ????????>N1???_???^~????}???n????1??X?s????Ɠ'???OҠ?????????n?Ͽ???
 P???_?ןcK????????ޫ?>?????Ӟ?n????9?h}????OҌ?c????
Amandas-MacBook-Pro:Desktop amandaeveritt$ zless dna_helix_mograph\ \(1\).c4d 
Amandas-MacBook-Pro:Desktop amandaeveritt$ clear

Amandas-MacBook-Pro:Desktop amandaeveritt$ mv tmp2.html tmp2.css
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi tmp.html 
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi tmp.html 
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi master.html
Amandas-MacBook-Pro:Desktop amandaeveritt$ rm master.html 
Amandas-MacBook-Pro:Desktop amandaeveritt$ vi master.html
Amandas-MacBook-Pro:Desktop amandaeveritt$ ls
dna_helix_mograph (1).c4d		tmp.html
flexbox-dna-helix-by-joe-ski		tmp2.css
flexbox-dna-helix-by-joe-ski.zip	videos
master.html
Amandas-MacBook-Pro:Desktop amandaeveritt$ cd flexbox-dna-helix-by-joe-ski
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ ls
README.txt	index.html	license.txt
css		index.slim	stylus
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ les index.html 
-bash: les: command not found
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ less index.html 
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ cd ..
Amandas-MacBook-Pro:Desktop amandaeveritt$ cp flexbox-dna-helix-by-joe-ski/ amanda_tmp
cp: flexbox-dna-helix-by-joe-ski/ is a directory (not copied).
Amandas-MacBook-Pro:Desktop amandaeveritt$ cp -r flexbox-dna-helix-by-joe-ski
flexbox-dna-helix-by-joe-ski/     flexbox-dna-helix-by-joe-ski.zip  
Amandas-MacBook-Pro:Desktop amandaeveritt$ cp -r flexbox-dna-helix-by-joe-ski/ web/
Amandas-MacBook-Pro:Desktop amandaeveritt$ cd web/
Amandas-MacBook-Pro:web amandaeveritt$ ls
README.txt	css		index.html	index.slim	license.txt	stylus
Amandas-MacBook-Pro:web amandaeveritt$ cd css/
Amandas-MacBook-Pro:css amandaeveritt$ ls
style.css
Amandas-MacBook-Pro:css amandaeveritt$ vi style.css 
Amandas-MacBook-Pro:css amandaeveritt$ cd ..
Amandas-MacBook-Pro:web amandaeveritt$ ls
README.txt	css		index.html	index.slim	license.txt	stylus
Amandas-MacBook-Pro:web amandaeveritt$ vi index.html 
Amandas-MacBook-Pro:web amandaeveritt$ vi index.html 
Amandas-MacBook-Pro:web amandaeveritt$ vi index.html 
Amandas-MacBook-Pro:web amandaeveritt$ brew install ruby-dev
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> New Formulae
aravis                diceware              inadyn                nng                   opentracing-cpp       rke                   tdlib
bundletool            eg-examples           libcerf               nu-smv                pagmo                 skopeo                tealdeer
c-blosc               geant4                libpsl                nwchem                peru                  smimesign             ucloud
carla                 golang-migrate        libvmaf               objfw                 picat                 solr@6.6              vfuse
cmdshelf              hyperkit              llvm@6                oclgrind              prototool             sonobuoy              wcslib
create-dmg            i2pd                  mallet                opensubdiv            rbspy                 stanford-corenlp
==> Updated Formulae
cython ✔                              exercism                              legit                                 pulumi
git ✔                                 exiftool                              lf                                    puzzles
gnuplot ✔                             exploitdb                             libarchive                            pybind11
hmmer ✔                               eye-d3                                libbi                                 pygobject3
numpy ✔                               faas-cli                              libbtbb                               pyinvoke
ruby-build ✔                          fabric                                libcouchbase                          pyside
sphinx-doc ✔                          fail2ban                              libdazzle                             python-markdown
sqlite ✔                              fauna-shell                           libepoxy                              qcachegrind
telnet ✔                              fdk-aac-encoder                       libetpan                              qd
abcde                                 ffmbc                                 libgda                                qmmp
abyss                                 ffmpeg                                libgit2                               qt
ace                                   ffmpeg@2.8                            libgit2-glib                          quicktype
activemq                              field3d                               libheif                               rabbitmq
adwaita-icon-theme                    file-roller                           libimobiledevice                      rakudo-star
afflib                                firebase-cli                          libiscsi                              rancher-cli
aircrack-ng                           flake8                                libjson-rpc-cpp                       ranger
alexjs                                flann                                 libmatio                              rclone
alluxio                               flatbuffers                           libmxml                               re2
ammonite-repl                         flow                                  libopkele                             redis
angular-cli                           fluent-bit                            libopusenc                            remarshal
anjuta                                fmpp                                  libphonenumber                        restic
annie                                 fmsx                                  libplist                              restview
ansible                               fn                                    libpq                                 ripgrep
ansible-cmdb                          fobis                                 libproxy                              rom-tools
ansifilter                            folly                                 libpst                                root
antlr                                 fonttools                             libre                                 roswell
antlr@2                               ford                                  librealsense                          rst-lint
apache-drill                          fortio                                libressl                              rtags
apache-flink                          fossil                                librsvg                               ruby
apache-geode                          fpc                                   libsecret                             ruby@2.3
apache-spark                          freetds                               libsoup                               rust
apktool                               freexl                                libspectre                            rustup-init
app-engine-java                       frugal                                libssh                                s-search
apr                                   fselect                               libtorrent-rasterbar                  s3cmd
arangodb                              fuseki                                libuv                                 safe
arcade-learning-environment           futhark                               libvirt                               saxon
aria2                                 fzf                                   libwbxml                              sbcl
ark                                   fzy                                   libxlsxwriter                         sbt
armadillo                             gandi.cli                             links                                 scala
arp-scan                              gauge                                 livestreamer                          sceptre
arpack                                gdal                                  llnode                                scipy
artifactory                           gdb                                   llvm                                  scour
asdf                                  gdk-pixbuf                            lnav                                  selenium-server-standalone
at-spi2-atk                           geckodriver                           logentries                            serverless
at-spi2-core                          gedit                                 logstash                              shellharden
atdtool                               genometools                           logtalk                               shibboleth-sp
atk                                   geogram                               luaradio                              shocco
atlassian-cli                         geoipupdate                           luvit                                 shogun
atomicparsley                         geos                                  lxc                                   shpotify
aurora-cli                            ghostscript                           lynis                                 simutrans
autopep8                              gifski                                lz4                                   skaffold
avfs                                  git-annex                             magic-wormhole                        skafos
avrdude                               git-archive-all                       mame                                  sleuthkit
avro-c                                git-cola                              mariadb                               smali
awk                                   git-credential-manager                mariadb@10.1                          smlnj
aws-elasticbeanstalk                  git-ftp                               mariadb@10.2                          snapcraft
aws-okta                              git-lfs                               mbedtls                               softhsm
aws-shell                             git-open                              mdcat                                 solr
awscli                                git-review                            mdds                                  sops
awslogs                               git-sizer                             mdv                                   sourcery
azure-cli                             git-standup                           media-info                            spades
b2-tools                              gitbucket                             megatools                             spotbugs
babel                                 gitfs                                 memcached                             sqldiff
ballerina                             gitg                                  menhir                                sqlite-analyzer
baobab                                gitlab-runner                         mercurial                             sqlparse
bat                                   gitless                               meson                                 sratoolkit
bazel                                 gjs                                   meson-internal                        ssh-copy-id
bcal                                  glances                               mesos                                 sshconfigfs
bde                                   glib                                  metabase                              sshuttle
bear                                  glib-networking                       metaproxy                             sslmate
beast                                 glide                                 metashell                             stellar-core
bento4                                glm                                   micronaut                             stlink
bettercap                             global                                miller                                stormpath-cli
bibutils                              gloox                                 minio                                 stormssh
bind                                  glslviewer                            minio-mc                              streamlink
binwalk                               gmt                                   mkdocs                                strongswan
bitcoin                               gmt@4                                 mkvtoolnix                            stunnel
bitrise                               gnome-latex                           mmark                                 sundials
bitwarden-cli                         gnu-indent                            mmseqs2                               supersonic
black                                 go                                    monero                                suricata
blink1                                gocr                                  monetdb                               svgo
blueutil                              godep                                 mongo-c-driver                        swift-protobuf
brew-gem                              goenv                                 mongo-orchestration                   swiftformat
brogue                                googler                               mongodb                               swiftgen
brotli                                goolabs                               mongodb@3.2                           syncthing
buku                                  goreleaser                            mongodb@3.4                           tarantool
bullet                                gpgme                                 mongodb@3.6                           tarsnapper
bwfmetaedit                           gprof2dot                             mosh                                  tcpflow
bzt                                   gradle                                mosquitto                             telegraf
cabal-install                         grafana                               mpd                                   teleport
caf                                   grakn                                 mps-youtube                           template-glib
caffe                                 grip                                  mpv                                   tepl
cairo                                 grpc                                  mscgen                                termius
capnp                                 grunt-cli                             msgpack                               terraform
cargo-completion                      grunt-completion                      mujs                                  terraform-docs
carthage                              grv                                   multimarkdown                         terragrunt
cash-cli                              gsettings-desktop-schemas             mupdf                                 testssl
cassandra                             gst-editing-services                  mupdf-tools                           texmath
ccache                                gst-libav                             n                                     tgui
ccm                                   gst-plugins-bad                       nano                                  the_platinum_searcher
cern-ndiff                            gst-plugins-base                      nats-streaming-server                 tiger-vnc
certbot                               gst-plugins-good                      nco                                   tika
cgal                                  gst-plugins-ugly                      ncview                                tile38
chakra                                gst-python                            ne                                    tinc
chamber                               gst-rtsp-server                       neko                                  tippecanoe
chapel                                gst-validate                          netcdf                                tmux
cheat                                 gstreamer                             nexus                                 tomcat
checkbashisms                         gtk-mac-integration                   nghttp2                               tomcat@7
chisel                                gtksourceview3                        nginx                                 tomcat@8
choose                                gtkspell3                             ngspice                               topgrade
chrome-export                         gucharmap                             nifi-registry                         tor
chronograf                            gutenberg                             nim                                   tox
circleci                              gwyddion                              node                                  translate-toolkit
citus                                 hadolint                              node-build                            trash-cli
clamav                                handbrake                             node@8                                travis
clang-format                          hapi-fhir-cli                         nodebrew                              trezor-agent
clipper                               haproxy                               nomad                                 ttyd
cloc                                  harfbuzz                              nsq                                   tvnamer
clojure                               hashpump                              nss                                   twarc
closure-compiler                      hcloud                                ntopng                                twine-pypi
cmake                                 hdf5                                  nyx                                   typescript
cmark-gfm                             hdf5@1.8                              ocamlbuild                            uftp
cmocka                                helmfile                              ocrmypdf                              uhd
cnats                                 help2man                              octave                                unoconv
codemod                               heroku                                oniguruma                             unp64
codequery                             highlight                             opam                                  unrar
coffeescript                          hiredis                               openapi-generator                     upx
collectd                              hledger                               opencv                                urh
commandbox                            hlint                                 openrtsp                              urweb
compcert                              homebank                              opensc                                v8
conan                                 honcho                                openshift-cli                         vagrant-completion
consul                                howdoi                                openssh                               vala
container-diff                        httpd                                 openssl@1.1                           valabind
convox                                hugo                                  openvdb                               valgrind
cookiecutter                          hwloc                                 opus                                  vault
cpmtools                              hyperfine                             orc-tools                             vegeta
cppcheck                              i2p                                   ortp                                  vert.x
cpprestsdk                            iamy                                  packer                                vice
credstash                             icdiff                                paket                                 vim
cromwell                              ice                                   pandoc                                vips
crosstool-ng                          imagemagick                           pandoc-citeproc                       vnu
crowdin                               imagemagick@6                         pandoc-crossref                       vorbis-tools
crystal                               immortal                              parallel                              vte3
curl                                  influxdb                              pass                                  vtk
cvs2svn                               internetarchive                       passpie                               wakatime-cli
darksky-weather                       ios-deploy                            pcl                                   wallpaper
dartsim                               iperf                                 pcre2                                 watchexec
davmail                               iproute2mac                           pdal                                  watchman
dbhash                                ipv6calc                              pdfsandwich                           watson
dependency-check                      ipython                               pdftoedn                              wdiff
dhall-json                            iso-codes                             pdftoipe                              weaver
diff-pdf                              jbake                                 pdns                                  webpack
diffoscope                            jenkins                               pdnsrec                               wildfly-as
digdag                                jenkins-job-builder                   pegtl                                 wine
dita-ot                               jenkins-lts                           percol                                wireguard-go
dnscrypt-proxy                        jerasure                              pgbadger                              wireguard-tools
dnsmasq                               jetty                                 pgrouting                             wireshark
dnstwist                              jetty-runner                          phoronix-test-suite                   wskdeploy
docker-compose                        jflex                                 php                                   wtf
docker-machine-driver-xhyve           jfrog-cli-go                          php-code-sniffer                      x265
docker-machine-nfs                    jhipster                              php-cs-fixer                          xcodegen
docker-squash                         jmeter                                php@5.6                               xctool
doctl                                 joplin                                php@7.0                               xerces-c
docutils                              jrnl                                  php@7.1                               xml-tooling-c
doitlive                              json-glib                             phpunit                               xmount
dosbox                                jsonrpc-glib                          pipenv                                xonsh
double-conversion                     juju                                  pius                                  xtensor
dub                                   jump                                  pixz                                  yamllint
duck                                  kakoune                               planck                                yara
duo_unix                              kallisto                              plantuml                              yarn
duplicity                             kerl                                  pmd                                   yasm
dxpy                                  kettle                                ponyc                                 yaz
dynare                                kibana                                poppler                               ydcv
elasticsearch                         kibana@5.6                            portmidi                              yelp-tools
elasticsearch@5.6                     konoha                                postgis                               ykman
elm-format                            kotlin                                povray                                yle-dl
embulk                                krakend                               pqiv                                  youtube-dl
emscripten                            kubernetes-cli                        pre-commit                            yubico-piv-tool
eralchemy                             kubernetes-helm                       presto                                zabbix
erlang                                kubernetes-service-catalog-client     prettier                              zbackup
erlang@17                             kumo                                  profanity                             zenity
erlang@19                             kustomize                             proj                                  zig
erlang@20                             landscaper                            prometheus                            zpython
eslint                                languagetool                          proselint                             zsh
etcd                                  lasso                                 protobuf                              zstd
euler-py                              ldc                                   protobuf-c
evince                                lean-cli                              protobuf-swift
==> Renamed Formulae
gtksourceview@4 -> gtksourceview4                                            rebar@3 -> rebar3
==> Deleted Formulae
asciinema2gif      gjstest            juju-quickstart    mediatomb          onepass            qt@5.5             redis@2.8          sonarlint
casperjs           hachoir-metadata   llvm@3.7           mimms              open-vcdiff        queequeg           sary               submarine
datomic            ib                 lsh                nesemu2            opensyobon         reclass            sickbeard

Error: No available formula with the name "ruby-dev" 
==> Searching for a previously deleted formula (in the last month)...
Warning: homebrew/core is shallow clone. To get complete history run:
  git -C "$(brew --repo homebrew/core)" fetch --unshallow

Error: No previously deleted formula found.
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
==> Searching taps on GitHub...
Error: No formulae found in taps.
Amandas-MacBook-Pro:web amandaeveritt$ ls
README.txt	css		index.html	index.slim	license.txt	stylus
Amandas-MacBook-Pro:web amandaeveritt$ vi index.html 
Amandas-MacBook-Pro:web amandaeveritt$ cd
Amandas-MacBook-Pro:~ amandaeveritt$ wd
-bash: wd: command not found
Amandas-MacBook-Pro:~ amandaeveritt$ pwd
/Users/amandaeveritt
Amandas-MacBook-Pro:~ amandaeveritt$ ls
Applications		Desktop			Downloads		Library			Music			Public
Creative Cloud Files	Documents		Dropbox			Movies			Pictures		projects
Amandas-MacBook-Pro:~ amandaeveritt$ cd Desktop/
Amandas-MacBook-Pro:Desktop amandaeveritt$ ls
dna_helix_mograph (1).c4d		master.html				videos
flexbox-dna-helix-by-joe-ski		tmp.html				web
flexbox-dna-helix-by-joe-ski.zip	tmp2.css
Amandas-MacBook-Pro:Desktop amandaeveritt$ cd flexbox-dna-helix-by-joe-ski
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ ls
README.txt	css		index.html	index.slim	license.txt	stylus
Amandas-MacBook-Pro:flexbox-dna-helix-by-joe-ski amandaeveritt$ vi index.html 

    transform: rotateY(180deg) translateZ(40px);
  }
  75% {
    transform: rotateY(270deg) translateZ(40px);
  }
  100% {
    transform: rotateY(360deg) translateZ(40px);
  }
}

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>

  <span></span>
<div class="dna">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
<div class="attr">
  Based on <a href="https://dribbble.com/shots/2742019-Dna-Helix-c4d-source-attached">Dna helix</a> by Joe Ski
</div>



</body>

</html>
